* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none !important;
  padding: 0 !important;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.mr-auto {
  margin-left: auto !important;
}

.introduction_bg {
  background-position: center;
  background-repeat: no-repeat;
}

.bg-custom {
  background-color: transparent !important;
}

.navbar {
  padding-top: 16px !important;
  padding-bottom: 0 !important;
}

.line {
  width: 100%;
  background-color: black;
  height: 1px;
  transform: scaleX(0);
  visibility: hidden;
  transition: 0.1s;
}

.nav-link {
  letter-spacing: 0.15px;
  color: #023135 !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.nav-link:hover {
  color: #023135 !important;
}
.nav-link:hover .line {
  transform: scaleX(1);
  visibility: visible;
}

.logo {
  max-width: 112px !important;
}

.introduction {
  padding-top: 45px;
}
.introduction__col:first-child {
  padding-top: 23px;
  width: 531px;
}
.introduction__col:last-child {
  padding-left: 52px;
}
.introduction__main-txt {
  letter-spacing: 0.31px;
  font-size: 50px;
  color: #32404D;
}
.introduction__small-txt {
  padding-top: 21px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #023135;
}
.introduction__btn {
  margin-top: 60px;
}
.introduction__btn a {
  padding: 18px 38px;
  background-color: #007a5c;
  color: white !important;
  border-radius: 30px;
}
.introduction__btn a:hover {
  background-color: #006149;
}
.introduction__media {
  width: 460px;
}

.deviding__txt {
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: #637381;
}

.navigation {
  padding-top: 20px;
}

.subject__navbar-brand {
  display: none;
}
.subject__nav-link {
  color: #007A5C;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  padding: 8px 15px;
  border: 1px solid #007A5C;
  box-sizing: border-box;
  border-radius: 24px;
  margin-left: 4px;
  margin-right: 4px;
}
.subject__nav-link:hover {
  background-color: #007A5C;
  color: white;
}
.subject__nav-item:first-child .subject__nav-link {
  margin-left: 15px;
}
.subject__nav-item:last-child .subject__nav-link {
  margin-right: 15px;
}

.main_description {
  margin-top: 33px;
}

.description__txt {
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}
.description__txt-item {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.2px;
  color: #023135;
}
.description__txt-item:first-child {
  margin-right: 30px;
}
.description__txt-item:last-child {
  margin-left: 30px;
}
.description__photo {
  position: relative;
  margin-top: 85px;
  height: 760px;
  background-image: url("../img/description_photo_phone.png");
  background-position: center;
  background-repeat: no-repeat;
}
.description__photo-block {
  position: absolute;
  height: 193px;
  width: 260px;
  background-color: #FFFFFF;
  border: 1px solid #EBF4FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(222, 234, 249, 0.59);
  border-radius: 24px;
}
.description__photo-block--1 {
  top: -20px;
}
.description__photo-block--2 {
  right: -18px;
  top: 109px;
}
.description__photo-block--3 {
  left: 20px;
  bottom: 230px;
}
.description__photo-block-number {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  margin-top: 16px;
  background: #32404D;
  color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__photo-block-txt {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #023135;
  padding-top: 25px;
  padding-right: 22px;
  padding-left: 22px;
}
.description__photo-row {
  position: absolute;
}
.description__photo-row--1 {
  top: 187px;
  left: 125px;
}
.description__photo-row--2 {
  top: 320px;
  right: 70px;
}
.description__photo-row--3 {
  bottom: 163px;
  left: 155px;
}
.description__bottom-txt {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #023135;
  padding-top: 25px;
}
.description__cards {
  padding-top: 40px;
}
.description__card {
  width: 235px;
}
.description__card:first-child {
  margin-right: 90px;
}
.description__card:last-child {
  margin-left: 90px;
}
.description__card-logo {
  margin: 0 auto;
}
.description__card-header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #023135;
  padding-top: 20px;
}
.description__card-body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
  padding-top: 12px;
}

.premisions {
  padding-top: 96px;
}
.premisions__inner {
  background-image: url("../img/premision_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 57px;
  padding-bottom: 525px;
}
.premisions__header-txt {
  text-align: center;
}
.premisions__header span {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #023135;
}
.premisions__header-line {
  display: flex;
  justify-content: center;
}
.premisions__header-line:last-child {
  margin-top: 7px;
}
.premisions__header-line:last-child .premisions__header-txt:first-child {
  padding-right: 30px;
}
.premisions__header-line:last-child .premisions__header-txt:last-child {
  padding-left: 30px;
}
.premisions__body {
  padding-top: 53px;
}
.premisions__body-txt {
  padding-left: 18px;
}
.premisions__body-col:first-child {
  margin-right: 80px;
}
.premisions__body-col:last-child {
  margin-left: 80px;
}