$Roboto:'Roboto',
sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $Roboto !important;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

ul {
    list-style-type: none !important;
    padding: 0 !important;
}

.wrapper {
    max-width: 1040px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.mr-auto {
    margin-left: auto !important;
}

//header
.introduction_bg {
    background-position: center;
    background-repeat: no-repeat;
}

.bg-custom {
    background-color: transparent !important;
}

.navbar {
    padding-top: 16px !important;
    padding-bottom: 0 !important;
}

.line {
    width: 100%;
    background-color: black;
    height: 1px;
    transform: scaleX(0);
    visibility: hidden;
    transition: .1s
}

.nav-link {
    letter-spacing: 0.15px;
    color: #023135 !important;

    padding-left: 24px !important;
    padding-right: 24px !important;

    &:hover {
        color: #023135 !important;

        .line {
            transform: scaleX(1);
            visibility: visible
        }
    }
}

.logo {
    max-width: 112px !important;
}

//introduction
.introduction {
    padding-top: 45px;

    &__col:first-child {
        padding-top: 23px;
        width: 531px;
    }

    &__col:last-child {
        padding-left: 52px;
    }

    &__main-txt {
        letter-spacing: 0.31px;
        font-size: 50px;
        color: #32404D;
    }

    &__small-txt {
        padding-top: 21px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #023135;
    }

    &__btn {
        margin-top: 60px;

        a {
            padding: 18px 38px;
            background-color: #007a5c;
            color: white !important;
            border-radius: 30px;

            &:hover {
                background-color: #006149;
            }
        }
    }

    &__media {
        width: 460px;
    }
}

//deviding (small) txt
.deviding {
    &__txt {
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        font-family: $Roboto;
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        color: #637381;
    }
}

//subject choosing

.navigation {
    padding-top: 20px;
}

.subject {
    &__navbar-brand {
        display: none;
    }

    &__nav-link {
        color: #007A5C;
        font-family: $Roboto;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        padding: 8px 15px;
        border: 1px solid #007A5C;
        box-sizing: border-box;
        border-radius: 24px;
        margin-left: 4px;
        margin-right: 4px;

        &:hover {
            background-color: #007A5C;
            color: white;
        }
    }

    &__nav-item {
        &:first-child {
            .subject__nav-link {
                margin-left: 15px;
            }
        }

        &:last-child {
            .subject__nav-link {
                margin-right: 15px;
            }
        }
    }
}

.main_description {
    margin-top: 33px;
}

.description {
    &__txt {
        padding-top: 80px;
        margin: 0 auto;
        text-align: center;
    }

    &__txt-item {
        font-family: $Roboto;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.2px;
        color: #023135;

        &:first-child {
            margin-right: 30px;
        }

        &:last-child {
            margin-left: 30px;
        }
    }

    &__photo {
        position: relative;
        margin-top: 85px;
        height: 760px;
        background-image: url('../img/description_photo_phone.png');
        background-position: center;
        background-repeat: no-repeat;

        &-block {
            position: absolute;
            height: 193px;
            width: 260px;
            background-color: #FFFFFF;
            border: 1px solid #EBF4FF;
            box-sizing: border-box;
            box-shadow: 0px 4px 7px rgba(222, 234, 249, 0.59);
            border-radius: 24px;

            &--1 {
                top: -20px;
            }

            &--2 {
                right: -18px;
                top: 109px;

            }

            &--3 {
                left: 20px;
                bottom: 230px;
            }

            &-number {
                width: 36px;
                height: 36px;
                margin: 0 auto;
                margin-top: 16px;
                background: #32404D;
                color: white;
                border-radius: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-txt {
                margin: 0 auto;
                text-align: center;
                font-family: $Roboto;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.15px;
                color: #023135;
                padding-top: 25px;
                padding-right: 22px;
                padding-left: 22px;
            }
        }

        &-row {
            position: absolute;

            &--1 {
                top: 187px;
                left: 125px;
            }

            &--2 {
                top: 320px;
                right: 70px;
            }

            &--3 {
                bottom: 163px;
                left: 155px;
            }
        }
    }

    &__bottom-txt {
        font-family: $Roboto;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.15px;
        color: #023135;
        padding-top: 25px;
    }

    &__cards {
        padding-top: 40px;
    }

    &__card {
        width: 235px;

        &:first-child {
            margin-right: 90px
        }

        &:last-child {
            margin-left: 90px;
        }

        &-logo {
            margin: 0 auto;

        }

        &-header {
            text-align: center;
            font-family: $Roboto;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #023135;
            padding-top: 20px;
        }

        &-body {
            text-align: center;
            font-family: $Roboto;
            font-size: 9px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #000000;
            padding-top: 12px;
        }
    }
}

//premision section
.premisions {
    padding-top: 96px;


    &__inner {
        background-image: url('../img/premision_bg.png');
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 57px;
        padding-bottom: 525px;
    }

    &__header {

        &-txt {
            text-align: center;
        }

        span {
            font-family: $Roboto;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #023135;
        }

        &-line {
            display: flex;
            justify-content: center;

            &:last-child {
                margin-top: 7px;

                .premisions__header-txt {

                    &:first-child {
                        padding-right: 30px;
                    }

                    &:last-child {
                        padding-left: 30px;
                    }
                }
            }

        }
    }

    &__body {
        padding-top: 53px;

        &-txt {
            padding-left: 18px;
        }

        &-col {
            &:first-child {
                margin-right: 80px;
            }

            &:last-child {
                margin-left: 80px;
            }
        }
    }
}

//information about video and viseo exampel
.info_about-video {
    padding-top: 100px;

    &__header {

        margin: 0 auto;
        text-align: center;

        &--1 {
            font-family: $Roboto;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: 0.2px;
            color: #007A5C;
            margin-right: 30px;

        }

        &--2 {
            font-family: $Roboto;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: 0.2px;
            color: #023135;
            margin-left: 30px;
        }
    }

    &__description {
        padding-top: 40px;
        text-align: center;
        font-family: $Roboto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #909EAB;
    }

    &__media {
        padding-top: 50px;
    }

}

.example-item {
    position: relative;

    &__header {
        font-family: $Roboto;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #023135;
        text-align: center;
    }

    &__body {
        padding-top: 20px;
    }

    &__play_btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

//pricin
.pricing {
    padding-top: 100px;

    &__inner {
        background-image: url('../img/pricing_section_bg.png');
        background-position: center;
        background-repeat: no-repeats;
    }

    &__header {
        text-align: center;
        padding-top: 45px;
        font-family: $Roboto;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.25px;
        color: #023135;
    }

    &__card {

        padding-top: 33px;
        padding-bottom: 25px;
        background-color: white;
        border: 1px solid #EBF4FF;
        box-sizing: border-box;
        box-shadow: 0px 2px 25px rgba(76, 106, 170, 0.22);
        border-radius: 20px;

        &__header {
            text-align: center;
            font-family: $Roboto;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: #023135;
        }

        &__body {
            margin: 0 auto;
            padding-top: 25px;
            font-family: $Roboto;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.15px;
            color: #023135;
        }

        &__btn {
            padding-top: 25px;
            margin: 0 auto;

            button {
                background-color: #007A5C;
                border-radius: 24px;
                margin: 0 auto;
            }
        }
    }
}