$Roboto:'Roboto',
sans-serif;

body {
    font-family: $Roboto !important;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.wrapper {
    max-width: 1040px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.mr-auto {
    margin-left: auto !important;
}

//header
.introduction_bg {
    background-position: center;
    background-repeat: no-repeat;
}

.bg-custom {
    background-color: transparent !important;
}

.navbar {
    padding-top: 16px !important;
    padding-bottom: 0 !important;
}

.nav-link {
    letter-spacing: 0.15px;
    color: #023135 !important;

    padding-left: 24px !important;
    padding-right: 24px !important;

    &:hover {
        color: #023135 !important;
    }
}

.logo {
    max-width: 112px !important;
}

//introduction
.introduction {
    padding-top: 45px;

    &__col:first-child {
        padding-top: 23px;
        max-width: 531px;
    }

    &__col:last-child {
        padding-left: 52px;
    }

    &__main-txt {
        letter-spacing: 0.31px;
        font-size: 50px;
        color: #32404D;
    }

    &__small-txt {
        padding-top: 21px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #023135;
    }

    &__btn {
        margin-top: 60px;

        a {
            padding: 18px 38px;
            background-color: #007a5c;
            color: white !important;
            border-radius: 30px;

            &:hover {
                background-color: #006149;
            }
        }
    }

    &__media {
        max-width: 460px;

        img {
            max-width: 100%;
        }
    }
}

@import 'media';